html {
    background-color: #8C989C;
}

body {
    margin: 0;
}

header {
    color: #30312d;
    padding: 20px;
    text-align: center;
}
.image {
    margin: auto;
    width: 50%;
    border-bottom: 15px solid #30312d;
    padding: 10px;
}
.content-container {
    display: flex;
    height: auto;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
    align-content: center;
    gap: 30px;
}

.content {
    width: 50%;
}

#image img {
    max-width: 100%;
    height: auto;
}

.nav-return {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

.content p {
    display: flex;
}